@import "../../assets/css/rwd.scss";

.container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @extend %rwd-sizing;
  margin-bottom: 50px;
}

.logo {
  margin-right: 50px;
}

.searcher {
  @include tablet {
    display: none;
  }
  margin-left: auto;
}

.header_nav {
  display: flex;
  padding: 20px 0;
  .icon {
    width: 36px;
    color: #fff;
    display: none;
    fill: red;
  }
  @include phone {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 90;
    background: #23232F;
    padding: 0;
    border-top: 1px solid #76BBFF;
    justify-content: center;
    .icon {
      display: block;
    }
    .title {
      display: none;
    }
  }
}

.header__link {
  color: #fff;
}