@import "../../assets/css/rwd.scss";

.container {
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @include phone {
    flex-direction: column;
  }
  @extend %rwd-sizing;
  margin-bottom: 50px;
}

.logo {
  margin-right: 40px;
  @include phone {
    margin: 10px auto;
  }
}

.searcher {
  @include tablet {
    display: none;
  }
  width: 100%;
  margin-left: auto;
  &.searcher_stats {
    @include phone {
      margin: 40px 0;
      display: block;
    }
  }
}

$height: 65px;

.title_short {
  display: none;
}

.header_nav {
  display: flex;
  padding: 20px 0;
  transition: transform .25s ease;
  .icon {
    width: 36px;
    color: #fff;
    display: none;
    fill: red;
  }
  @include phone {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 90;
    background: #23232F;
    padding: 0;
    height: $height;
    border-top: 2px solid rgb(76, 76, 102);
    .icon {
      display: block;
      height: 30px;
      opacity: .5;
      margin-bottom: 10px;
    }
    .title {
      font-size: 10px;
      font-weight: 600;
      letter-spacing: 1px;
      text-transform: uppercase;
      &.title_long {
        display: none;
      }
      &.title_short {
        display: block;
      }
    }
  }
}

.phone_btn {
  @include phone {
    box-sizing: border-box;
    position: relative;
    padding: 0 25px !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    &.active {
      background: linear-gradient(rgb(76, 76, 102), #23232F);
      box-shadow: 0 0 20px 0 rgba(1,1,1,.1);
      .icon {
        opacity: 1;
      }
    }
    &:after {
      content: "";
      position: absolute;
      right: -1px;
      top: 0;
      width: 1px !important;
      height: 100% !important;
      background: linear-gradient(to bottom,rgb(76, 76, 102), transparent) !important;
    }
    &:first-child:after {
      display: none;
    }
  }
  @include small {
    padding: 18px 10px !important;
    .title {
      font-size: 9px;
    }
    .icon {
      width: 26px;
    }
  }
}

.header__link {
  color: #fff;
}

.hidden {
  @include phone {
    transform: translateY(100%);
    // display: none;
  }
}