@import "../../assets/css/rwd.scss";

.header__container {
  padding: 10px;
  @extend %rwd-sizing;
  margin-bottom: 50px;
}

.header__links {
  display: flex;
  padding: 20px;
  a {
    &:not(:last-child) {
      margin-right: 50px;
    }
  }
}

.header__link {
  color: #fff;
}