@import "../../assets/css/rwd.scss";
@import "../../assets/css/colors.scss";

.not_found {
  text-align: center;
  margin: 50px 0;
  .not_found_btn {
    border-radius: 4px;
    background: #6770FA;
    border-style: none;
    color: #fff;
    padding: 12px 17px;
    cursor: pointer;
    font-family: Cabin;
  }
}

.players_table {
  border-collapse: collapse;
  width: 100%;
  margin: 45px auto;
  .prop_name {
    text-transform: capitalize;
  }
  th {
    color: #b2b2d5;
    font-weight: normal;
    padding: 20px;
    text-align: left;
    @include phone {
      padding: 20px 10px;
    }
    @include small {
      padding: 20px 5px;
    }
  }
  td {
    $padding-vertical: 13px;
    padding: $padding-vertical 20px;
    @include small {
      padding: $padding-vertical 5px;
      font-size: 14px;
    }
    &:first-child {
      border-radius: 8px 0 0 0;
      @include phone {
        padding: $padding-vertical 0;
      }
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
      @include phone {
        padding: $padding-vertical 0;
      }
      @include small {
        padding: $padding-vertical 5px;
      }
    }
    border-collapse: collapse;
  }
  tr:nth-child(odd) td {
    background: #272836;
  }
}

.player {
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  vertical-align: middle;
  position: relative;
  &:hover {
    text-decoration: underline;
  }
  .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
    @include small {
      margin-right: 8px;
    }
  }
  @include small {
    font-size: 13px;
  }
}

$platform-size: 15px;

.platform_container {
  width: $platform-size + 8px;
  height: $platform-size + 8px;
  border-radius: 50%;
  position: absolute;
  bottom: -4px;
  left: -16px;
  display: flex;
  justify-content: center;
  align-items: center;
  .platform {
    width: $platform-size;
    height: $platform-size;
    filter: invert(100%);
  }
  overflow: hidden;
  &.pc {
    .platform {
      width: $platform-size - 3px;
      height: $platform-size - 3px;
    }
  }
  // &.ps4 { background: $ps4; }
  // &.xbox { background: $xbox; }
  // background: linear-gradient(#4A00E0, #8E2DE2);
  background: rgba(1,1,1,.4);

}

.column__left {
  text-align: left;
}
.column__right {
  text-align: right !important;
}
.column__center {
  text-align: center !important;
}

@for $font-size from 12 to 24 {
  .column__fs_#{$font-size} {
    font-size: $font-size + px;
  }
}