@import "../../assets/css/rarities.scss";

@each $rarity, $colors in $rarities {
  $borderColor: nth($colors, 1);
  $bgColor: nth($colors, 2);

  &.#{"item_" + $rarity} {
    .item__container {
      background:
        linear-gradient(149.07deg, rgba(35, 35, 47, 0) 10%, $bgColor 143.81%),
        radial-gradient(112.00px at 50% 50%, #23232F 0%, #313144 100%);
      border-color: $borderColor;
    }
  }
}

.item__container {
  height: 150px;
  width: 150px;
  // background:
  //   linear-gradient(149.07deg, rgba(35, 35, 47, 0) 10%, #0B86FF 123.81%),
  //   radial-gradient(112.00px at 50% 50%, #23232F 0%, #313144 100%);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparent;
  border-radius: 8px;
  transition: transform .2s ease;
  &:hover {
    transform: scale(1.1);
    .item__img {
      z-index: 10;
      transform: scale(1.6) rotate(15deg);
    }
    .ammo_img {
      // transform: scale(1.1) translate3d(-60px, 60px, 0);
    }
    .item__name {
      transform: translateY(-20px);
    }
  }
}

.item__name {
}

.item__img {
  transition: transform .25s ease;
  height: 140px;
  width: 140px;
  position: relative;
  user-select: none;
  // filter: drop-shadow(0 2px 5px rgba(0,0,0,0.5));
}

.ammo_img {
  position: absolute;
  $size: 40px;
  width: $size;
  height: $size;
  left: $size / -2;
  bottom: -12px;
  left: -12px;
  $shadow: #F3994A;
  $shadow: rgba(243, 153, 74, .5);
  :local &.unique {
    filter: drop-shadow(0 0 10px $shadow);
  }
}

