

.player {
  display: flex;
  align-items: center;
}

.badge {
  position: relative;
  margin-right: 15px;
}

.avatar {
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 35px);
  top: calc(50% - 37px);
  width: 70px;
  height: 70px;
}

.name {
  font-size: 35px;
  margin: 0;

}

.lvl_container {
  margin-top: 5px;
  margin-left: auto;
  display: inline-block;
}

.lvl_value {
  font-size: 30px;
  color: #9999c4;
  min-width: 50px;
  &:after {
    color: #6d6d92;
    margin-left: 2px;
    content: "lvl";
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
  }
}

.update_container {
  align-self: flex-end;
  justify-self: end;
  color: #9999c4;
  margin-left: auto;
  text-align: right;
}
.update_title {
  color: #6d6d92;
  margin: 0 0 5px 0;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold;
}