
.comparison_table {
  width: 100%;
  border-collapse: collapse;
  .prop_title {
    text-transform: capitalize;
  }
  th {
    padding: 15px 10px;
    &:first-child {
      text-align: left;
    }
  }
  td {
    padding: 20px 5px;
  }
  td:not(:first-child) {
    padding: 20px 5px;
    text-align: center;
  }
  td:nth-child(even) {
    background: #272836;
    background: rgba(64, 66, 88, .1);
  }
  tr:nth-child(odd) {
    background: rgba(64, 66, 88, .1);
    background: #272836;
  }
  .value {
    font-size: 1.17em;
    margin: 0 0 10px 0;
  }
}

.perc_val {
  &:after {
    content: "%";
    font-size: 9px;
    margin-left: 2px;
  }
}

.perc_below {
  color: #ff7979;
}

.perc_above {
  color: #badc58;
}