@import "../../assets/css/rwd.scss";

.searcher {
  margin: 100px auto;
  max-width: 750px;
}

.players_table {
  margin-top: 200px;
  width: 100%;
  border-collapse: collapse;
  th {
    text-align: left;
    padding: 15px 0;
    color: #b2b2d5;
    font-size: 13px;
  }
  tr {
    transition: all .12s ease;
    overflow: hidden;
    border-left: 3px solid transparent;
  }

  tbody tr:hover {
    box-shadow: 0px 0px 40px 6px rgba(28, 30, 83, 0.8);
    background: linear-gradient(to right, rgba(26, 161, 235, .2), transparent);
    background-color: #373971;
  }

  tr:nth-child(even) td {
    background-color: rgba(255,255,255,.011);
  }

  th, td {
    &:nth-child(3), &:last-child {
      text-align: right;
    }
    &:first-child, &:last-child {
      padding: 10px 20px;
    }
  }

  td {
    padding: 15px 0;
    a {
      color: #fff;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.top_header {
  text-align: center;
  margin-bottom: 40px;
}

.cards_container {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  flex-wrap: wrap;
  @include phone {
    flex-direction: column;
    align-items: center;
    
  }
  .place {
    text-align: center;
    font-size: 28px;
    margin: 0 0 75px 0;
    &:before {
      content: "Top";
      text-transform: uppercase;
      font-size: 14px;
      font-size: 11px;
      font-weight: bold;
      margin-right: 3.5px;
    }
  }
  .card_container {
    &:nth-child(2) {
      @include notPhone {
        order: -1;
      }
    }
  }
}

.rank_tab {
  border-collapse: collapse;
  width: 100%;
  margin: 50px 0;
  .player {
    display: flex;
    align-items: center;
    .avatar {
      width: 38px;
      height: 38px;
      border-radius: 50%;
      margin-right: 15px;
    }
  }
  th {
    color: #7E81A7;
    font-weight: normal;
    padding: 20px;
    text-align: left;
    &:first-child {
      max-width: 110px;
    }
    &:last-child {
      text-align: right;
      text-align: center;
    }
  }
  td {
    &:first-child {
      border-radius: 8px 0 0 8px;
    }
    &:last-child {
      border-radius: 0 8px 8px 0;
      font-size: 18px;
      text-align: right;
      text-align: center;
    }
    padding: 10px 20px;
    border-collapse: collapse;
  }
  tr:nth-child(odd) td {
    background: #272836;
  }
}