.h3 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 10px;
}

.navlink {
  margin-right: 35px;
  font-size: 18px;
  color: rgb(99, 99, 134);
  position: relative;
  padding: 20px;
  &:hover {
    color: #fff;
  }
  &:before {
    height: 100%;
    width: 100%;
    position: absolute;
    background: radial-gradient(
      #8289ff 0, transparent 80%
    ) no-repeat;
    background-position-y: 20px;
    left: 0;
    bottom: -10px;
    opacity: .15;
  }
  &:after {
    height: 3px;
    width: 100%;
    border-radius: 8px;
    background: #6770FA;
    position: absolute;
    left: 0;
    bottom: -10px;
    /* box-shadow: 0 0 10px 5px #6770FA; */
  }
  &.active {
    color: #fff;
    &:before, &:after {
      content: "";
    }
  }
}