
.btn {
  background-color: #6770FA;
  padding: 15px 10px;
  border-radius: 5px;
  font-family: Cabin;
  border-style: none;
  color: transparent;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  cursor: pointer;
  position: sticky;
  top: 0px;
  z-index: 20;
}