@import "../../assets/css/rwd.scss";

.container {
  justify-content: space-between;
  display: flex;
  @include tablet {
    flex-direction: column;
  }
}

.search_filters {
  margin-right: 20px;
  @include tablet {
    display: flex;
    flex-wrap: wrap;
    margin-right: 0;
    justify-content: space-between;
    .filters_section {
      flex: 5;
      margin-right: 40px;
    }
  }
  .filters_searcher {
    width: 100%;
  }
  .filters_section {
    margin-top: 40px;
  }
}

.items_wrapper {
  width: 100%;
  min-height: 80vh;
}

.sort_container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: flex-end;
  flex-wrap: wrap;
  @include tablet {
    justify-content: flex-start;
    margin: 40px 0;
    .sort_item {
      width: 100%;
      &:first-child {
        margin-bottom: 20px;
      }
    }
  }
  .sort_item {
    display: flex;
    align-items: center;
    &:first-child {
      margin-right: 20px;
    }
  }
}

.h3 {
  font-size: 12px;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-right: 10px;
}

.ammo_icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  :local &:not(.ammo_icon__checked) {
    filter: grayscale(100);
    opacity: .5;
  }
}

.ammo_checkmark {
  display: flex;
  align-items: center;
}