@import "./rwd.scss";

body {
  font-family: Cabin, sans-serif;
  margin: 0;
  color: #fff;
  font-size: 15px;
  a {
    color: #fff;
    text-decoration: none;
  }
  overflow-x: hidden;
  .app_container {
    min-height: 100vh;
    $bg-color: #23232F;
    background: $bg-color;
    background: #23232F url("/static/bgfinal.jpg") no-repeat top center;
    // background: $bg-color radial-gradient(
    //   ellipse at top,
    //   rgb(43, 74, 160),
    //   $bg-color 72%
    // );
    // background-size: 100vw 45vh;
    // background-repeat: no-repeat;
    color: #fff;
  }
  .app_content {
    @extend %rwd-sizing;
  }
}