@import "./rwd.scss";

html {
  background-color: #23232F;
}

.wrapper {

}
body {
  font-family: Cabin, sans-serif;
  margin: 0;
  color: #fff;
  font-size: 14px;
  a {
    color: #fff;
    text-decoration: none;
  }
  // overflow: hidden;
  // overflow-x: hidden;
}

.app_content {
  @extend %rwd-sizing;
}

.app_container {
  position: relative;
  min-height: 100vh;
  $bg-color: #23232F;
  background: $bg-color;
  background: #23232F url("/static/bgfinal.jpg") no-repeat top center;
  // background: $bg-color radial-gradient(
  //   ellipse at top,
  //   rgb(43, 74, 160),
  //   $bg-color 72%
  // );
  // background-size: 100vw 45vh;
  // background-repeat: no-repeat;
  // overflow: hidden;
  color: #fff;
}

.disable_scroll {
  overflow: hidden;
}