.items__wrapper {
  width: 100%;
}

.sort__container {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
  justify-content: flex-end;
}

.items__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 40px 0 40px 40px;
}