
.title {
  text-transform: uppercase;
  color: #9999C4;
  text-align: center;
  font-size: 12px;
  font-weight: bold;
  margin: 5px 0;
}

.content {
  font-size: 32px;
  text-align: center;
  font-weight: 500;
  min-height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  position: relative;
  color: #C7C7EA;
  min-width: 100px;
  &:before {
    content: "";
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 100%), rgba(196, 196, 196, 0.152);
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.15;
  }
}